<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
        <link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
	<title>Srkob - {%block title %} Biblioteka!{% endblock %} </title>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
   <div class="navbar-inner">
       <div class="container">
           <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
           </button>
           <a class="brand" href="/srkob/">Srkob</a>

           <div class="nav-collapse collapse">
               <ul class="nav" pull-left>
                   <li><a href="/srkob/about/">O nas</a></li>
               </ul>
           </div>
           <!--/.nav-collapse -->
       </div>
   </div>
</div>
</br>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                <!--- Empty for the timebeing -->
		{% block nav_body %}{%endblock%}

            </div>
            <!--/.well -->
        </div>
        <!--/span-->
        <div class="span9">
            <br/>
		{% block body_block %}
                {% endblock %}
        </div>
        <!--/span-->
    </div>
    <!--/row-->
</div>
<!--/.fluid-container-->

<hr>

<footer>
    <div class="container">
        <p>&copy; Rango: How to Tango with Django 2013</p>
    </div>
</footer>

	<script src="{% static 'js/jquery-2.0.3.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>