{% extends 'srkob/base.html' %}

{% load static %}

{% block title %}Książka{% endblock%}


{% block nav_body %}{% endblock %}
{% block body_block %}
        <div class="hero-unit">
        <h3>{{ book_name }}</h3>
        <h4>{{ details.author.last_name }} {{ details.author.first_name }}</h4>
        Krótki opis:</br>
        <p>{{ details.about }}</p> 
        {{ date.str }}
       {% if user.is_authenticated %}
                    
                    <form class="form-signin span4" id="book_form" method="post" action="/srkob/rent_details/" >
                    {% csrf_token %}
                    
                    {% for hidden in form.hidden_fields %}
                        
                        {{ hidden }}
                    {% endfor %}
                    <input type="hidden" id="title" value="{{ book_name }}" name="title">                   
                    <input id="date" value='{% now "SHORT_DATE_FORMAT" %}' name="date">
                    <input id="state" value="True" name="state">
                    <input id="user" value="{{ user.username }}" name="user_name">
                    <button class="btn btn-primary" type="submit" >Rezerwuj</button>
                    </form>
                    
                   {% else %}
                    </br>
                    <button class="btn btn-primary disabled" disabled="disabled">Rezerwuj</button>
                    Musisz się zalogować żeby rezerwować książki
                    
                   {% endif %}
                      
                
        
           
            
</div>        
{% endblock %} 
