{% extends 'srkob/base.html' %}

{% load static %}

{% block title %}Kategoria{% endblock%}


{% block nav_body %}{% endblock %}
{% block body_block %}


 {% if genres %}
            <ul>
                {% for genre in genres %}
             

                <li><a href="{{ page.url }}">{{ Genre.genre }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}


<li>{{ genre.all }}</li>



{% endblock %} 
	
