{% extends 'srkob/base.html' %}

{% load static %}

{% block title %}Książki{% endblock%}


{% block nav_body %}{% endblock %}
{% block body_block %}
        <div class="hero-unit">
        <h3>{{ genre_name }}</h3>
        {% if genre %}
            {% if books %}
            <ul>
                {% for book in books %}
                <li><a href="/srkob/book_details/{{ book.url }}">{{ book.title }}</a></li>
                
                {% endfor %}
            </ul>
            {% else %}
                <strong>Nie znaleziono żadnych książek.</strong>
            {% endif %}
        {% else %}
            Gatunek {{ genre_name }} nie istnieje.
        {% endif %}
        </div>
{% endblock %} 
