{% extends 'srkob/base.html' %}

{% load static %}

{% block title %}Rejestracja{% endblock%}
{% block nav_body %}{% endblock %}
{% block body_block %}
       <div class="hero-unit">
       <br />

    <div class="container">
        {% if registered %}
        <p>Dziękujemy za rejestrację</p>

        <p><a href="/srkob/login/">Zaloguj się</a></p>
        {% else %}
        <form class="form-signin span8" id="user_form" method="post" action="/srkob/register/"
              enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="form-signin-heading">Zarejestruj się</h2>
            <!-- Display each form here -->

            {% for field in user_form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}<br />
            {{ field }}<br />
            {% endfor %}

            {% for field in profile_form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}<br />
            {{ field }}<br />
            {% endfor %}

            <br />
            <!-- Provide a button to click to submit the form. -->
            <input class="btn btn-primary" type="submit" name="submit" value="Rejestruj"/>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %} 
